In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from credentials import url
from selenium.common.exceptions import TimeoutException
from threading

In [ ]:
def add(x,y):
    return x+y

In [9]:
num_cases = 200
partition_size = 20
partitions = []
for i in range(1, num_cases, partition_size):
    partitions.append([i, i + partition_size - 1])

In [10]:
partitions

[[1, 20],
 [21, 40],
 [41, 60],
 [61, 80],
 [81, 100],
 [101, 120],
 [121, 140],
 [141, 160],
 [161, 180],
 [181, 200]]

In [5]:
import pandas as pd

In [11]:
df = pd.read_csv("CourtCaseInfo.csv")

In [15]:
df[df["COUNTY_NUM"] == 2].describe()

       COUNTY_NUM        CASEYR       CASENUM
count     15481.0  15481.000000  15481.000000
mean          2.0     15.579485   7618.187714
std           0.0      2.820129   4134.503593
min           2.0     11.000000     12.000000
25%           2.0     13.000000   4294.000000
50%           2.0     16.000000   7733.000000
75%           2.0     18.000000  10998.000000
max           2.0     20.000000  15632.000000

In [16]:
import json

json_file = "./bfscraped/20_Lancaster_500_503.json"

with open(json_file) as file:
    data = json.load(file)

In [19]:
data.keys()

dict_keys(['CI 02 20-500', 'CI 02 20-501', 'CI 02 20-502', 'CI 02 20-503'])

In [7]:
file_name = str(year) + "_" + county + "_" + str(start) + "_" + str(end) + ".csv"
with open(file_name, "w") as fp:
    pass

In [4]:
county_code = 1
if county == "Lancaster":
    county_code = 2

In [ ]:
browser = webdriver.Chrome("./chromedriver")

In [6]:
for i in range(start, end + 1):
    case_id = "CI 0" + str(county_code) + " " + str(year) + "-" + str(i)
    
    print(case_id)

    try:
        browser.get(url)

        browser.find_element(By.ID, "court_type").send_keys("C")
        browser.find_element(By.ID, "county_num").send_keys(county_code)
        browser.find_element(By.ID, "case_type").send_keys("CI")
        browser.find_element(By.ID, "case_year").send_keys(year)
        browser.find_element(By.ID, "case_id").send_keys(i)

        browser.find_element(By.ID, "search").click()

        content = "\"" + str(browser.page_source) + "\""

        logged_case = "\"" + case_id + "\"," + content
        
        with open(file_name, "a") as fp:
            fp.write(logged_case)

    except TimeoutException as ex:
        print("Timeout! for " + case_id )

499